<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\Altera\Log\json2-internal-nlog.txt">

	<variable name="logDirectory" value="C:\Altera\Log" />
	<variable name="archiveDirectory" value="C:\Altera\Log\Archive" />

	<targets>
		<target name="file" xsi:type="File"
                fileName="${logDirectory}/json2.log"
                archiveFileName="${archiveDirectory}/json2.{#}.log"
                archiveEvery="Day"
                archiveAboveSize="1048576"
                archiveNumbering="Sequence"
                maxArchiveFiles="30"
                enableArchiveFileCompression="false"
                keepFileOpen="false"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target name="console" xsi:type="Console"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxLevel="Info" final="true" />

		<logger name="empifisJsonService2.*" minlevel="Debug" writeTo="console,file" />

		<logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>
</nlog>